/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Arial, sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Arial, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper{
	max-width: 1920px;
	min-height: 100%;
}
.wrapper:after{
	content: '';
	display: block;
	height: 133px;
}
.wrap-header{
	overflow: hidden;
}
.wrap-content{
	position: relative;
	overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
	background: url("../images/header/fon-header.jpg") top center;
	overflow: hidden;
	text-align: center;
	border-bottom: solid 1px #fff;
}
.logo{
	float: left;
	margin: 4px 0 0 83px;
}
.left-block-header{
	float: right;
	margin-right: 40px;
	overflow: hidden;
}
.btn-header{
	border: solid 2px #fe9b00;
	padding: 15px 20px 10px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	transition: .3s;
	background: rgba(0,0,0,0);
	margin: 15px 25px 15px 0;
	float: left;
}
.btn-header:hover{
	border-radius: 15px;
}
.mail-header{
	float: right;
}
.mail-header a{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin-top: 30px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}
.mail-header a:before{
	content: '';
	background: url("../images/header/icon-sms.png");
	width: 36px;
	height: 28px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.nav-menu{
	clear: both;
}
.nav-menu li{
	display:inline-block;
}
.nav-menu li a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.nav-menu li:before{
	content: '';
	border: solid 3px #fff;
	border-radius: 20px;
	display: inline-block;
	background-color: #fff;
	width: 1px;
	height: 1px;
	vertical-align: middle;
	margin: 0 10px;
}
.nav-menu li:first-child:before{
	display: none;
}
.header h1{
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	margin-top: 20px;
}
.search-description{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	display: block;
	margin-top: 30px;
}
.btn-header-search{
	background-color: #ef3e23;
	border: none;
	color: #fff;
	padding: 0 25px;
	font: bold 14px 'Open Sans', sans-serif;
	transition: .3s;
	height: 49px;
	float: left;
	vertical-align: middle;
}
.btn-header-search:hover{
    background-color: #ae1902;
}
.search{
	color: #a9adae;
	font-size: 18px;
	padding: 12px 20px 12px 60px;
	width: 400px;
	height: 49px;
	display: inline-block;
	vertical-align: middle;
    border: 1px solid #fff;

    -webkit-border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.wrap-select-header{
	position: relative;
	float: left;
	vertical-align: middle;
}
.wrap-select-header:before{
	content: '';
	background: url("../images/header/icon-dislocation.png");
	display: inline-block;
	width: 18px;
	height: 24px;
	position: absolute;
	bottom: 11px;
	left: 20px;
}
.site-search{
    display: inline-block;
	margin: 50px 0 67px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#map{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
}
.top-content {
	position: relative;
	z-index: 10;
    background: rgba(204, 237, 254, .6);
}
.block-sauna-top > li{
	background-color: #fff;
	border-top: solid 1px #d59345;
	display: inline-block;
	overflow: hidden;
	max-width: 523px;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: top;
}
.block-sauna-top img,
.block-sauna-top .main-img{
	float: left;
	margin: 15px 15px;
	border: solid 3px #f3e3cf;
}
.sauna-top-right-block{
	overflow: hidden;
	margin: 20px 10px;
}
.title{
	color: #d59345;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
.rating-stars{
	display: inline-block;
}
.rating-stars li{
	display: inline-block;
	text-indent: -9999px;
	background: url("../images/content/icon-stars.png") 63px;
	width: 15px;
	height: 14px;
}
.rating-stars .active{
	background: url("../images/content/icon-stars.png");
	width: 15px;
	height: 14px;
}
.rating-stars .half-star{
	background: url("../images/content/icon-stars.png") 32px;
	width: 15px;
	height: 14px;
}
.rating-stars li:last-child{
	margin-right: 5px;
}
.evaluation{
	font-size: 14px;
	color: #c1bccf;
	margin-right: 5px;
}
.recall{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.time{
	background: url("../images/content/icon-clock..png") no-repeat left;
	padding-left: 35px;
}
.blue-text{
	color: #009fda;
	font-size: 14px;
	font-weight: bold;
}
.blue-numeral{
	color: #009fda;
	font-size: 24px;
	font-weight: bold;
}
.block-sauna-top > li .sauna-top-right-block > div{
	margin-bottom: 10px;
}
.location{
	background: url("../images/content/icon-location.png") no-repeat left;
	padding-left: 35px;
}
.street-name{
	font-size: 14px;
	color: #000;
	font-weight: bold;
	display: block;
}
.area-name{
	font-size: 14px;
	color: #009fda;
	font-weight: bold;
	display: block;
}
.bath-services li{
	display: inline-block;
	border: solid 1px #f3e3cf;
	text-indent: -9999px;
    width: 31px;
    height: 31px;
}
.wi-fi{
	background: url("../images/content/icon-wi-fi.png");
}
.bath{
	background: url("../images/content/icon-bath.png");
}
.steam-room{
	background: url("../images/content/icon-steam-room.png");
}
.pool{
	background: url("../images/content/icon-pool.png");
}
.btn-block-sauna-top{
	background: #d59345;
	color: #fff;
	width: 105px;
	height: 25px;
	border: none;
	float: right;
}
.bottom-block-sauna-top span{
	color: #d59345;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 70px;
	display: inline-block;
	transition: .3s;
}
.btn-block-sauna-top:hover{
	background-color: #a36010;
}
.bottom-block-sauna-top{
	background-color: #f3e3cf;
	overflow: hidden;
}
.content{
	float: left;
	position: relative;
	z-index: 20;
}
.block-content img{
	float: left;
	margin: 20px 10px;
	border: solid 3px #f3e3cf;
}
.block-content > li{
	overflow: hidden;
	border-bottom: solid 1px #f3e3cf;
	padding-left: 5px;
	background: #fff;
}
.block-content > li .sauna-top-right-block > div {
	margin-bottom: 10px;
}
.block-content > li:first-child{
	border-top: solid 1px #d59345;
}
.pagination{
	background-color: #fff;
}
a.btn-add-sauna{
    display: block;
	background-color: #ef3e23;
	color: #fff;
	font-size: 18px;
	width: 195px;
	padding: 12px 0;
	border: none;
	transition: .3s;
	margin: 15px 0 20px 65px;
    text-align: center;
    text-decoration: none;
}
.btn-add-sauna:hover{
	background-color: #ae1902;
}
.content-internal{
	width: 1070px;
	margin: 0 auto;
}
.background-block{
	background: #a33d16;
	padding: 10px 90px;
}
.description-melon > li{
	display: inline-block;
}
.sauna{
	color: #fff;
	font-size: 18px;
	margin-right: 5px;
}
.name{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.name-feature{
	font-size: 12px;
	color: #000;
}
.list-feature{
	border: solid 1px #9d9d9d;
	border-top: none;
	padding: 15px 10px;
}
.list-feature li{
	margin-bottom: 20px;
}
.list-star{
	display: inline-block;
}
.list-star li{
	display: inline-block;
	text-indent: -9999px;
	background: url("../images/content/icon-stars2.png");
	width: 39px;
	height: 18px;
}

	/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.nav-menu-footer{
	background-color: #454545;
	text-align: center;
	padding: 15px 0;
}
.nav-menu-footer a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.nav-menu-footer a:hover,
.nav-menu li a:hover {
    text-decoration: underline;
}
.nav-menu-footer li{
	display: inline-block;
}
.nav-menu-footer li:before{
	content: '';
	background-color: #e78f08;
	border: solid 1px #e78f08;
	display: inline-block;
	border-radius: 20px;
	vertical-align: middle;
	padding: 2px;
	margin: 0 15px;
}
.nav-menu-footer li:first-child:before{
	display: none;
}
.footer-bottom{
	background-color: #efefef;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	padding: 20px 155px 20px 55px;
}
.logo-footer{
	float: left;
}
.social-network{
	float: right;
}
.social-network li{
	display: inline-block;
	text-indent: -9999px;
	background-color: #dfdfdf;
	border-radius: 50px;
	padding: 9px;
	margin-left: 10px;
}
.social-network li:first-child{
	margin: 0px;
}
.google{
	background: url("../images/footer/icon-soc-set.png")no-repeat 10px 10px;
	width: 29px;
	height: 29px;
}
.instagram{
	background: url("../images/footer/icon-soc-set.png")no-repeat -45px 10px;;
	width: 29px;
	height: 29px;

}
.face-book{
	background: url("../images/footer/icon-soc-set.png")no-repeat -97px 10px;
	width: 29px;
	height: 29px;

}
.twitter{
	background: url("../images/footer/icon-soc-set.png")no-repeat -150px 10px;
	width: 29px;
	height: 29px;
}
.footer-bottom p{
	width: 460px;
	color: #000;
	font-size: 14px;
	display: inline-block;
	font-weight: bold;
}
.footer-bottom p span{
	color: #d59345;
	font-size: 14px;
	font-weight: bold;
}
.footer{
	margin-top: -133px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
#gmap_canvas img{
	max-width:none!important;
	background:none!important
}